<head>
<title>Quản lý bán hàng</title>
<link href="ass/css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="ass/css/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="ass/css/nivo-slider.css" rel="stylesheet" type="text/css" media="all" />
<script src="ass/js/jquery-1.9.0.min.js"></script>
<script src="ass/js/jquery.nivo.slider.js"></script>
    <script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
    </script>
<!-- thumbs -->
<script src="ass/js/home.js"></script>
<script src="ass/js/jquery.carouFredSel-6.0.5-packed.js"></script>
	<script type="text/javascript">
       $("#foo1").carouFredSel();
    </script>
</head>