<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Quản lý bán hàng</title>
<link href="abcd/css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="abcd/css/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="abcd/css/nivo-slider.css" rel="stylesheet" type="text/css" media="all" />
<script src="abcd/js/jquery-1.9.0.min.js"></script>
<script src="abcd/js/jquery.nivo.slider.js"></script>
    <script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
    </script>
<!-- thumbs -->
<script src="abcd/js/home.js"></script>
<script src="abcd/js/jquery.carouFredSel-6.0.5-packed.js"></script>
	<script type="text/javascript">
       $("#foo1").carouFredSel();
    </script>
</head>
<body>
<div class="wrap">
    <div class="header">
		<div class="header-top">
		<app-top-bar></app-top-bar>
			<div class="clear"></div> 
		</div>
	<app-header-button></app-header-button>
<div class="banner">
 <div id="wrapper">
 		<div class="slider-wrapper theme-default">
            <div id="slider" class="nivoSlider">
                <img src=""  alt="" />
               	<img src="images/banner2.jpg"  alt="" />
                <img src="images/banner3.jpg"  alt="" />
            </div>
        </div>
 </div>
</div>
</div>
<div class="main">
	<app-body></app-body>
   <app-footer></app-footer>
	</div>
 </div>
</body>
</html>

    	
    	
            